<!DOCTYPE html>
<html>
  <head>
    <title>secondApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="//code.jquery.com/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/styles/styles.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//jashkenas.github.io/underscore/underscore-min.js"></script>
    <script src="/js/scripts.js"></script>
  </head>
  <body>
    <div class="container">
        <a href="/logout" class="pull-right btn btn-sm btn-danger">Logout</a>
      <h1>secondApp - admin</h1>
      <p><%= message %></p>
      <a href="/hello" class="btn btn-danger btn-lg">Go to hello page</a>
    </div><!-- end container -->
     
      <div class="container">
  <div id="addPartsContainer">
    <h3 style="">Add Parts</h3>
    <form method="post" action="/addpart">
      <label>Add Part</label>
      <input name="part"></input>
      <input class="button" type="submit" value="Add">
    </form>
  </div>
  
  <div id="content"></div>
    <div id="test"></div>
  </div>
       
    <% include partials/footer %>
  </body>
</html>