<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <div class="container">
      <% if (Parse.User.current()) { %>
        <div class="pull-right">Welcome <%= user %></div>
        <a href="/logout" class="pull-right btn btn-sm btn-danger">Logout</a>
      <% } else { %>
        <a href="/login" class="pull-right btn btn-sm btn-success">Login/Signup</a>
      <% } %>
      <h1>secondApp - home</h1>
      <p><%= message %></p>
      <a href="/hello" class="btn btn-danger btn-lg">Go to hello page</a>
    </div><!-- end container -->
     
       
    <% include partials/footer %>
  </body>
</html>