<!DOCTYPE html>
<html>
  <% include partials/head %>
  <% include partials/nav %>
  <body>
    <div class="container">
        <a href="/logout" class="pull-right btn btn-sm btn-danger">Logout</a>
        <span class="pull-right">Welcome, <%= currUser %></span>
      <h1>secondApp - admin</h1>
      <p><%= message %></p>
    </div><!-- end container -->
     
      <div class="container">
  <div id="addPartsContainer">
    <h3 style="">Add Parts</h3>
    <form method="post" action="/addpart">
      <label>Add Part</label>
      <input name="part" id="partInput"></input>
      <input class="button" type="submit" value="Add">
    </form>
  </div>
  
  <div id="content">
    <% parts.forEach(function(part){ 
        var currPart = part.get("name"); 
        var objID = part.id;
    %>
    <form action="/deletepart/<%= objID %>" method="post">
      <label><%= currPart %></label>
      <input type='hidden' name='_method' value='delete'>
      <input class="btn btn-sm btn-danger" type="submit" value="Delete">
    </form>
    <% }) %><!-- end forEach loop -->
    
    </div>
    <div id="test"></div>
  </div><!-- end container -->
       
    <% include partials/footer %>
  <script>
    $(function(){
      $('#partInput').focus();
    });
  
  </script>
  </body>
</html>